@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

body {
    margin: 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

code {
    white-space: pre;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.logo h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 520;
    padding-top: 4px;
}

.logo .wiki-logo {
    margin-right: 10px;
    height: 40px;
    width: 40px;
    object-fit: contain;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

form .search input[type="text"] {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 8px;
}

.search {
    margin-bottom: 5px;
}

.sidebar {
    background-color: #f0f0f0;
    padding: 20px;
    height: 97vh;
}

.sidebar h2 {
    margin-top: 5px;
}

.nav-item {
    display: flex;
    justify-self: center;
    align-items: center;
    margin: 15px 20px;
    width: 87%;

}

.nav-item img {
    height: 30px;
    width: 30px;
    object-fit: contain;
    margin-right: 20px;
}

.nav-item p {
    margin-bottom: 0;
    width: 100%;
}

.new-page-form {
    display: flex;
    flex-direction: column;
}

.new-page-form .page-title {
    font-size: 20px;
}

.new-page-form textarea {
    height: 50vh;
    font-size: 20px;
}

.sidebar a {
    text-decoration: none;
    color: gray;
    border-radius: 20px;
    padding: 10px;
}


.sidebar a:hover {
    text-decoration: underline;
}


/* Index page */
.entries-container {
    display: flex;
    justify-content: center;
}

.entries-container ul {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    column-gap: 30px;
    row-gap: 20px;
}

.entries-container ul a {
    list-style-type: none;
    background-color: #fff;
    box-shadow: 0 0 .3rem rgba(0, 0, 0, .2);
    margin: 1rem 0;
    padding: 1rem 2rem;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 200px;
    font-size: 20px;
    text-decoration: none;
    color: #00a1a1;
    font-family: 'Open Sans', sans-serif;
}

.entries-container ul a::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: scaleX(.015);
    transform-origin: left;
    transition: 200ms ease-in-out transform;
}

.entries-container ul a:hover::before {
    transform: scale(1);
}
.entries-container ul a:hover {
    color: #fff;
}

a::before {
    background-color: #00a1a1;
}